.todo-div {
   margin-top: 30px;
   /* border: 4px solid black; */
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   /* align-items: center; */
   text-align: center;
}

.form-div {
   /* border: 3px solid red; */
   margin-bottom: 10px;
}

/* .form-div button {
   
} */

.todo-list-container {
   /* border: 3px solid orange; */
   margin-bottom: 10px;
}

.todo-list-container ul {
   /* border: 3px solid blue; */
   display: inline;
}


.todo-unordered-list > li {
   list-style: none;
   /* border: 2px solid green; */
}