.li-done {
   text-decoration: line-through;
}

.todo-buttons {
   padding: 5px;
   color: white;
   font-weight: bold;
   border: none;
   border-radius: 5px;
   width: 60px;
   margin: 2px;
   box-shadow: 1px 1px 1px gray;
}

#edit-button:hover,
#done-button:hover,
#delete-button:hover {
   background-color: gray;
   
}

#edit-button {
   background-color: lightblue;
}

#done-button {
   background-color: rgb(122, 199, 122);
}

#delete-button {
   background-color: lightsalmon;
}

#todo-td {
   border: 2px solid green;
   width: 150px;
   overflow-wrap: break-word;
}