.counter-container {
  text-align: center;
  margin-top: 50px;
}

.hello-container {
  height: 150px;
  background-color: #6888BE;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hello-container h1 {
  color: white;
}


.toggle-container {
  height: 150px;
}

.toggle-container button {
  background-color: #6888BE;
  color: white;
}

.toggle-true {
  background-color: red;
}

.toggle-false {
  background-color: blue;
}